
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
/* utility start */
.text_center {
    text-align: center;
}
.orange-color{
    color: #e55039;
}
.flex {
    display: flex;
}
.justify_center {
    justify-content: center;
}
.justify_around {
    justify-content: space-around;
}
.align_center {
    align-items: center;
}
.flex_1 {
    flex: 1;
}
.btn {
    padding: 12px 20px;
    border-radius: 100px;
    font-size: 1.3rem;
    color: white;
    border: none;
    cursor: pointer;
}
.btn_primary {
    background: linear-gradient(45deg,#FBA24F,#FF1E1E);
}
/* utility end */
/* nav start */
.nav_menu {
    background: linear-gradient(45deg, #78e08f ,#38ada9);
}
.nav_menu .container {
    padding: 0 18rem;
}
.nav_menu .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 0; 
}
.nav_menu .navbar .brand a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.nav_menu .navbar .brand .orange_color {
    color: #e55039;
}
.nav_menu .navbar ul {
    display: flex;
}
.nav_menu .navbar ul li {
    list-style: none;
}
.nav_menu .navbar ul li a {
    text-decoration: none;
    margin-right: 1.3rem;
    font-size: 1.4rem;
    color: black;
}
/* nav end */
/* hero section start */
.hero .container {
    padding: 3rem 18rem;
}
.hero {
    background: #E5E5E5;
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.hero .banner {
    display: flex;
    align-items: center;
}
.hero .banner .left_side h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #34495e;
    margin-bottom: 2rem;
}
.hero .banner .left_side p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    width: 80%;
}

/* hero section end */
/* about me start */
.about_me {
    padding: 3rem 0;
    background-image: url(./img/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about_me .container {
    padding: 0 18rem;
}
.about_me .left_side img {
    width: 500px;
    height: 600px;
}
.about_me .right_side h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}
.about_me .right_side p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    letter-spacing: 1px;
}
/* about me end */
/* recipe start */
.recipe {
    padding: 5rem 0;
    background: #E5E5E5;
}
.recipe .container {
    padding: 0 18rem;
    width: 100%;
}
.recipe .heading_part h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 1.3rem;
}
.recipe .heading_part p {
    width: 50%;
    margin-left: 20rem;
}
.recipe .card_wrapper .card .card_body img {
   width: 100%;
   height: 250px;
   
}
.recipe .card_wrapper .card .card_body {
    padding: 1rem 1.3rem; 
}
.recipe .card_wrapper .card .card_body h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 1rem 0;
}
.recipe .card_wrapper .card .card_body p {
    margin-bottom: 1rem;
}
.recipe .card_wrapper .card {
    background-color: #ffffff;
    margin-right: 2rem;
    margin-top: 3rem; 
    border-radius: 1rem;
    box-shadow: 0px 2px 30px rgba(43, 41, 40, 0.5);
}

/* recipie end */
/* subscriber start */
.subscriber {
    padding: 5rem 0;
    background: #E5E5E5;
}
.subscriber .container {
    padding: 0 18rem;
    
}
.subscriber .container .all_item {
    box-shadow: 0px 2px 30px rgba(43, 41, 40, 0.5);
    background-color: #fff;
    padding: 5rem 0;
    border-radius: 20px;
}
/* subscriber end */
/* user review start */
.user_review {
    padding: 5rem 0;
    background-image: url(./img/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.user_review .container {
    padding: 0 18rem;
}
.user_review .card_wrapper .card {
    margin-right: 2.5rem;
    margin-top: 4rem;
}
.user_review .card_wrapper .card .card_body {
    background-color: #fff;
}
.user_review .card_wrapper .card .card_body img {
    width: 150px;
    height: 150px;
    margin-top: 1rem;
}
.user_review .card_wrapper .card .card_body h2 {
    margin: 1rem 0;
}
.user_review .card_wrapper .card .card_body p{
    padding: 1rem 2rem;
    padding-bottom: 5rem;
    
}
/* user review end */
/* newsletter start */
.newsletter {
    padding: 5rem 0;
    background-image: linear-gradient(36deg, #16a085,#2ecc71);
}
.newsletter .container {
    padding: 0 18rem;
}
.newsletter h2 {
    color: black;
}
.newsletter .sub {
    margin-top: 2.4rem;
}
.newsletter .sub input {
    padding: 1rem ;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 450px;
}
/* newsletter end */
/* footer part */
.footer_part {
    background: black;
    padding: 5rem 0;
}
.footer_part .container {
    padding: 0 18rem;
}
.footer_part h2 {
    color: grey;
}
.footer_part p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
    margin-top: 1rem;
}
